/** Write your CSS in here **/
*{
    margin:0px;
    padding: 0px;
}
.centre{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   margin: 10%;
   padding: 40px;
   background-color: #f0f0f0;
   
}
body{
    background-color: rgb(231, 172, 63);
}
/* styling buttons */
.flex-bottons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


/* Styling the each button New */
.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(231, 172, 63);
    margin: 15px;
    color: white;
}
.button:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
}
.button:focus{
    outline: none;
}
.button:active{
    background-color: #e6be2f;
    color: white;
}
.centre >p{
    margin: 10px;
    color:rgb(179, 123, 21);
    font-size: large;
    font-weight: 600;
}

#author{
    font-size: 18px;
    right: 0;
    margin: 15px;
}
#quotation-mark{
    font-size: 40px;
    font-weight: 700;
}